* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    padding: 10px;
    background-color: #F4A460;
}

.navbar img {
    padding: 0px 0px 0px 60px;
}

.content {
    padding: 25px 0px 0px 630px;
}

.content a {
    padding: 12px 16px;
    font-family: 'Fondamento', cursive;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.content a:hover {
    color: black;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.sidebar-left {
    width: 15%;
    display: flex;
    flex-flow: column wrap;
    background-color: #CCFFFF;
}

.sidebar-left a {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    font-family: 'Fondamento', cursive;
    font-size: 20px;
}

.sidebar-left a:hover {
    background-color: #66FFFF;
}

.main {
    width: 70%;
}

.main h1, p {
    font-family: 'Fondamento', cursive;
    text-align: center;
    padding: 5px;
}

.sidebar-right {
    width: 15%;
}

.sidebar-right img {
    width: 200px;
}