* {
    padding: 0;
    margin: 0;
}


.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 35%;
    background-color: #33CC33;
    padding: 10px;
}

.name {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.name a, h1 {
    position: relative;
    top: 50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 0px 0px 100px;
}

.name a {
    font-size: 20px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    padding: 0px 55px 0px 0px;
}

.fa {
    position: relative;
    top: -35px;
    padding: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px grey;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-linkedin, .fa-instagram, .fa-skype, .fa-android, .fa-tumblr {
    background: #33CC33;
    color: white;
}

.infoBar {
    display: flex;
    flex-wrap: nowrap;
    left: 50%;
    transform: translate(-50%,-27%);
    position: relative;
    width: 800px;
    height: 250px;
    border: 1px solid black;
    background-color: white;
}

.avatar {
    background-image: url(img/ava.jpg);
    background-size: cover;
    display: flex;
    flex: 0.6;
    border: 1px solid black;
}

.infoName {
    display: flex;
    flex-flow: column wrap;
} 

.name1 {
    color: black;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid black;
    position: relative;
    left: 20px;
    padding-top: 10px;
}

.name1 h1 {
    top: 0px;
    padding: 0;
    color: black;
}

table {
    position: relative;
    padding: 20px 0px 0px 20px;
    font-size: 20px;
}

table th {
    text-align: left;
}

.inforSocial {
    border: 1px solid black;
}

