* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column wrap;
    background-color: #e7e7e7;
}

.screen-view {
    width: 100%;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
}

.header {
    background-color: #11b57c;
    font-family: 'Krona One', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 100px;
}

.headerName {
    padding-left: 50px;
}

.social {
    padding-right: 50px;    
}

.social .fa {
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    background-color: #11b57c;
    padding: 12px;
    width: 20px;
    text-align: center;
    margin: 6px;
    box-shadow: 0px 5px 10px grey;
}

.social .fa:hover {
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: -70px;
}

.infoBar {
    display: flex;
}
.avatar {
    max-width: 250px;
}

.avatar img {
    width: 100%;
}

.infoName {
    background-color: white;
    width: 100%;
}

.name {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
    margin: 0 20px;
}

.h1 {
    font-size: 20px;
}

.green {
    color: #11b57c;
    font-weight: bold;
}

.h2 {
    display: flex;
    align-self: flex-end;
    font-size: 15px;
}

.tableInfo {
    padding: 10px 0 0 20px;
}

.tableInfo th {
    text-align: left;
    padding: 2px;
}

.tableInfo td {
    padding-left: 15px;
}

.infoSocial {
    background-color: #11b57c;
    padding-top: 2px;
}

.infoSocial .fa {
    position: relative;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 14px;
    text-align: center;
    margin-top: 4px;
}

.infoSocial .fa:hover {
    opacity: 0.7;
}

.skill {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.titleName {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #11b57c;
    font-weight: bold;
    font-size: 20px;
}

.content {
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.article {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 50%;
    padding: 20px;
    text-align: justify;
}

.article a {
    text-indent: 20px;
}

.chart {
    padding-top: 10px;
}

.text {
    display: flex;
    width: 100%;
}

.text a {
    width: 50%;
}

.percent {
    width: 50%;
    text-align: right;
}

.chart {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding: 20px;
}

.chartWidth {
    width: 100%;
    background: grey;
    height: 2px;
}

.chartGreen {
    background: #11b57c;
    height: 2px;
}

.education {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.timeline {
    margin-top: 20px;
}